@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #616161;
  padding-bottom: 2rem;
  background-color: #FF8A80; }

a:link, a:visited {
  color: #E53935;
  text-decoration: none; }

a:hover, a:active {
  color: #FF8A80; }

button {
  background-color: transparent;
  border: none; }

span {
  display: inline !important; }

.wrapper {
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }
