@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #616161;
  padding-bottom: 2rem;
  background-color: #CDACCB; }

a:link, a:visited {
  color: #403186;
  text-decoration: none; }

a:hover, a:active {
  color: #CDACCB; }

button {
  background-color: transparent;
  border: none; }

span {
  display: inline !important; }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.6s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.6s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #373737;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.6s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #444;
    transform: translate3d(0, 100%, 0);
    transition: all 0.6s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../images/portrait.jpeg") center;
      border-radius: 50%;
      border: solid 3px #eece1a; }

.wrapper {
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

.main {
  height: 75vh;
  box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  overflow: hidden; }
  @media (max-width: 1024px) {
    .main {
      height: 50vh;
      width: 80%; } }
  @media (max-width: 768px) {
    .main {
      height: 50vh;
      width: 95%; } }
  @media (max-width: 600px) {
    .main {
      height: 100vh;
      width: 100%;
      margin-top: 65px; } }

menu-header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #eece1a; }

menu-main {
  padding: 4rem;
  height: 100%; }
  menu-main .icons {
    margin-top: 1rem;
    font-size: 2rem; }
    menu-main .icons a {
      padding: 0.4rem; }
      menu-main .icons a:hover {
        color: #eece1a;
        transition: all 0.6s ease-out; }
  menu-main#home {
    overflow: hidden; }
    menu-main#home h1 {
      margin-top: 20vh; }
